<a href="https://colab.research.google.com/github/AshwinUnnikrishnan/Foundations-of-Artificial-Intelligence-CS5100-/blob/main/MovieRecommenderSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [17]:
%cd /content/gdrive/MyDrive/NLP/MovieRecommendationSystem/

/content/gdrive/MyDrive/NLP/MovieRecommendationSystem

In [38]:
import numpy as np
import pandas as pd
import ast #Converting datatypes

In [22]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [24]:
movies.head(1)

      budget  ... vote_count
0  237000000  ...      11800

[1 rows x 20 columns]

In [25]:
credits.head(1)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...

[1 rows x 4 columns]

## Merging DataFrames

In [28]:
movies = movies.merge(credits, on='title')

In [29]:
# genres
# id
# keywords
# title
# overview ( For Content Similarity )
# cast
# crew
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [31]:
movies.shape

(4809, 7)

In [35]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [34]:
movies.dropna(inplace=True)

In [36]:
movies.duplicated().sum()

0

Preprocessing the genres

In [44]:
def convert(obj):
  L = []
  for i in ast.literal_eval(obj):
    L.append(i['name'])
  return L

In [ ]:
movies['genres'] = movies['genres'].apply(convert)

In [46]:
movies['keywords'] = movies['keywords'].apply(convert)

In [47]:
def convert3(obj):
  L = []
  counter = 0
  for i in ast.literal_eval(obj):
    if counter != 3:
      L.append(i['name'])
      counter += 1
    else:
      break
  return L

In [48]:
movies['cast'] = movies['cast'].apply(convert3)

In [49]:
def fetch_Director(obj):
  L = []
  for i in ast.literal_eval(obj):
    if i['job'] == 'Director':
      L.append(i['name'])
      break
  return L

In [50]:
movies['crew'] = movies['crew'].apply(fetch_Director)

In [51]:
movies.head(5)

   movie_id  ...                 crew
0     19995  ...      [James Cameron]
1       285  ...     [Gore Verbinski]
2    206647  ...         [Sam Mendes]
3     49026  ...  [Christopher Nolan]
4     49529  ...     [Andrew Stanton]

[5 rows x 7 columns]

In [52]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [54]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [55]:
movies.head(2)

   movie_id  ...             crew
0     19995  ...   [JamesCameron]
1       285  ...  [GoreVerbinski]

[2 rows x 7 columns]

In [56]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [57]:
new_df = movies[['movie_id','title','tags']]

In [60]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [72]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [73]:
vectors.shape

(4806, 5000)

In [67]:
import nltk

In [68]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [69]:
def stem(text):
  y = []
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [ ]:
new_df['tags'] = new_df['tags'].apply(stem)

In [ ]:
cv.get_feature_names()

In [75]:
from sklearn.metrics.pairwise import cosine_similarity #between 0 and 1 (1 being similar)

In [77]:
similarity = cosine_similarity(vectors)

In [81]:
def recommend(movie):
  movie_index = new_df[new_df['title'] == movie].index[0] # fetches index in the main list of the movie
  distances = similarity[movie_index]
  movies_list = sorted(list(enumerate(distances)), reverse=True, key= lambda x:x[1])[1:6]
  for mov in movies_list:
    print(new_df.iloc[mov[0]].title)

In [83]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf